/* src/components/TodoList.module.css */
.todoListContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.todoList {
  width: 250px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.todoList h1 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.todoList input[type="text"] {
  width: calc(100% - 22px);
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.todoList button {
  margin-right: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  /* background-color: #007bff; */
  color: white;
  cursor: pointer;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
}

.taskContainer {
  flex-grow: 1;
}

.backlog {
  background-color: rgb(106, 113, 207);
}

.todo {
  background-color: rgb(209, 209, 95);
}

.inProgress {
  background-color: rgb(84, 215, 84);
}

.test {
  background-color: rgb(211, 110, 211);
}

.done {
  background-color: rgb(182, 54, 54);
}

.edit {
  background-color: rgb(231, 161, 33);
  margin-right: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}


.save {
  background-color: green;
  margin-right: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.save:hover{
  background-color: darkgreen;
}

.edit:hover {
  background-color: darkorange;
}

.delete {
  background-color: red;
  margin-right: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.delete:hover {
  background-color: darkred;
}

.submit,
.new {
  background-color: blue;
  margin-right: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.submit,
.new:hover {
  background-color: darkblue;
}

.todoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dragPreview {
  position: fixed;
  pointer-events: none;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
